<template>
  <div id="border2" @mouseup="handleMouseup" @mousedown="handleResize">
  </div>
</template>
<style type="text/css">
#border2 {
  width: 0.2vw;
  height: 95vh;
  float: left;
  cursor: col-resize;
  background-color: black;
}

</style>
<script type="text/javascript">
export default {
  id: 'border2',
  /* eslint-disable */
  //忽略所有警告
  data() {
    return {

    }
  },
  mounted: function() {
    this.$nextTick(function() {
      var vwtopic = $("#topic_all").width();
      var code_all = $("#code_all").width();
      var w_all = vwtopic + code_all;
      var n = w_all.toString();
      this.w_all = n;
    })
  },
  methods: {
    handleResize(event) {
      var w_all = this.w_all;

      event.preventDefault();
      $(document).on("mousemove", function(e) {
        var topic_all = $("#topic_all").width();
        var code_all = w_all - topic_all;


        $("#topic_all").css("width", e.pageX);
        $("#topic").css("width", e.pageX);
        $("#topic_ans").css("width", e.pageX);
        $("#code_all").css("width", code_all);
        $("#code_edit").css("width", code_all);
        $("#log").css("width", code_all);
        $("#border1").css("width", e.pageX);
        $("#border3").css("width", code_all);




      });
    },
    handleMouseup(event) {
      $(document).unbind('mousemove');
    }
  }
}

</script>
