<template>
  <div id="border1" @mouseup="handleMouseup" @mousedown="handleResize">
  </div>
</template>
<style type="text/css">
#border1 {
  width: 28vw;
  height: 0.4vh;
  float: left;
  cursor: row-resize;
  background-color: black;
}

</style>
<script type="text/javascript">
export default {
  id: 'border1',
  /* eslint-disable */
  //忽略所有警告
  data() {
    return {

    }
  },
  mounted: function() {
    this.$nextTick(function() {
      var vhtopic = $("#topic").height();
      var topic_ans = $("#topic_ans").height();
      var topic_all = vhtopic + topic_ans;
      var n = topic_all.toString();
      this.topic_all = n;
    })
  },
  methods: {
    handleResize(event) {
      var topic_all = this.topic_all;
      event.preventDefault();
      $(document).on("mousemove", function(e) {
        var vhtopic = $("#topic").height();
        var topic_ans = topic_all - vhtopic;
        var Nav = $(".container-fluid").height();
        $("#topic").css("height", e.pageY - Nav);
        $("#topic_ans").css("height", topic_ans);

      });
    },
    handleMouseup(event) {
      $(document).unbind('mousemove');
    }
  }
}

</script>
