<template>
  <div id="topic_ans">
    <p>{{stdout}}</p>
  </div>
</template>
<style type="text/css">
#topic_ans {
  width: 28vw;
  height: 51.6vh;
  /* border-style: solid;
*/
  float: left;
}

</style>
<script>
export default {
  id: 'topic_ans',
  /* eslint-disable */
  //忽略所有警告
  data() {
    return {
      stdout: ''
    }
  },
  mounted: function() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered
      var urlpathjson = this.$cookies.get('urlpathjson');
      var json = ('http://140.125.90.229:8888/course/' + urlpathjson);
      this.$http.get(json).then(response => {
        // get body data
        this.jsondata = response.body;
        this.stdout = this.jsondata[0].stdout;
        // this.description = this.RemoveHTML(this.description);

      }, response => {
        alert("no data");
      });
    })
  },
  methods: {
    RemoveHTML: function(strText) {     
      var regEx = /<(?!img|br|p).*?>/gi;     
      return strText.replace(regEx, ""); 
    }
  }
}

</script>
