﻿<template>
  <div id="topic" v-html="description">
  </div>
</template>
<style type="text/css">
#topic {
  width: 28vw;
  height: 43vh;
  /*border-style: solid;
*/
  float: left;
  overflow: auto;
}

</style>
<script>
export default {
  id: 'topic',
  /* eslint-disable */
  //忽略所有警告
  data() {
    return {
      description: ''
    }
  },
  mounted: function() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered
      var urlpathjson = this.$cookies.get('urlpathjson');
      var json = ('http://140.125.90.229:8888/course/' + urlpathjson);
      this.$http.get(json).then(response => {
        // get body data
        this.jsondata = response.data;
        this.description = this.jsondata[0].description;

        // this.description = this.RemoveHTML(this.description);
      }, response => {
        alert("no data");
      });
    })
  },
  methods: {
    RemoveHTML: function(strText) {     
      var regEx = /<(?!img|br|p).*?>/gi;     
      return strText.replace(regEx, ""); 
    }
  }
}

</script>
