<template>
  <div id="app">
    <router-view></router-view>
    <div id="topic_all">
      <router-view name="topic"></router-view>
      <router-view name="border1"></router-view>
      <router-view name="topicans"></router-view>
    </div>
    <router-view name="border2"></router-view>
    <div id="code_all">
      <router-view name="codeedit"></router-view>
      <router-view name="border3"></router-view>
      <router-view name="compilelog"></router-view>
    </div>
  </div>
</template>
<script>
export default {
  name: 'App',
  /* eslint-disable */
  //忽略所有警告
  data() {
    return {

    }
  },
  beforeMount: function() {
    this.$nextTick(function() {
      var urlfullpath = this.$route.fullPath;
      // var route = this.$route; // console.log(route);
      var decodedCookie = decodeURIComponent(urlfullpath);
      if (decodedCookie != '/index') {
        var urlpath = this.$route.path;
        var class_id = this.$route.query.class_id;
        var language = this.$route.query.language;
        var user_id = this.$route.query.user_id;
        var user_name = this.$route.query.user_name;

        this.$cookies.set('urlpath', urlpath);
        this.$cookies.set('class_id', class_id);
        this.$cookies.set('language', language);
        this.$cookies.set('user_id', user_id);
        this.$cookies.set('user_name', user_name);
        location.href = '/#/index';
      }

    })
  },
  mounted: function() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered
      var urlpath = this.$cookies.get('urlpath');
      var urlpathjson = urlpath.split("/");
      var urlpathjson = urlpathjson[1].split("-");
      var urlpathjson = urlpathjson[0] + '/' + urlpathjson[1];
      this.$cookies.set('urlpathjson', urlpathjson);
      var urlpathjson = this.$cookies.get('urlpathjson');
      // class_id // : // "2018300014" // language // : // "JavaScriptV2" // user_id // : // "6441" // user_name // : // "陳明仁"


    })
  },
  methods: {

  }
}

</script>
<style>
#topic_all {
  width: 28vw;
  float: left;
  background-color: #DDDDDD;
}

#code_all {
  width: 71.5 vw;
  background-color: #444444;
  float: left;
  color: white;
}

#app {
  width: 100vw;
}

</style>
